#!/bin/env bash

if [[ $HOSTNAME == "toaster" ]]; then
	xrandr --output DP-0 --mode 1920x1080 --pos 0x0 --rotate normal --rate 144 --primary
	xrandr --output DVI-D-0 --right-of DP-0
fi

xrdb ~/.Xresources
xset r rate 250 144
xset -b
no-accel
~/.fehbg
flameshot &
dunst &
